<h1>Login</h1>
<div align = 'right'>
<%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
</div>

<%flash.each do |name, msg|%>
<div class: alert alert-<%= name%>> <%=msg%> </div>
<%end%>

<%= form_for @user, url: login_path, method: :post do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "log in", class: "btn btn-primary"%>
<% end %>