<h1>Choose from available performances</h1>

<%flash.each do |name, msg|%>
<div class: alert alert-<%= name%>> <%=msg%> </div>
<%end%>

<%= form_for @booking do |f| %>
    <%= f.hidden_field :user_id, :value => @user[:id]%>
    <%= f.hidden_field :performance_id, :value =>params[:performance_id].to_i %>

    <%= f.label :seating_type %>
    <%= f.collection_select :seating_type, ["stalls", "upper", "lower"], :to_s, :to_s%>

    <%= f.label :num_of_tickets %>
    <%= f.number_field :num_of_tickets %>
    
    <%= f.submit %>
<% end %>

<hr>
<h4>Pricing for the tickets: </h4>
<li>Upper Seating Ticket Price: £<%= @performance[:min_price]%> </li>
<li>Lower Seating Ticket Price: £<%= @performance[:min_price]*2%> </li>
<li>Stall Seating Ticket Price: £<%= @performance[:min_price]*3%> </li>
 <button class="btn btn-outline-success my-2 my-sm-0"><%= link_to "Cancel Booking", events_path%></button>
