<h1>Sign Up</h1>

<%flash.each do |name, msg|%>
<div class: alert alert-<%= name%>> <%=msg%> </div>
<%end%>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> </p>

  <%= f.label :email %>
  <%= f.email_field :email %><div>

  <%= f.label :password %>
  <%= f.password_field :password %> <div>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %> <div>

  <%= f.submit "Finish" , class: "btn btn-primary" %>

<% end %>
<div align = 'right'>
  <button type="button" class="btn btn-outline-success my-2 my-sm-0"><%= link_to(controller: 'sessions', action: 'new') { 'Already have an account? Go back to login' } %></button>
</div>