<h1><%= @show['Name'] %></h1>
<img src= "<%= @show['SmallImageUrl'] %>" alt= <%= @show['Name']%> >
<div class="event__text__wrap">
   <%= @show['Description']%>
</div>
<h3><%= @show['RunningTime'] %></h3>
<h3><%= @show['TagLine'] %></h3>