<h1><%= @show['Name'] %></h1>
<img src= "<%= @show['SmallImageUrl'] %>" alt= <%= @show['Name']%> >
<div class="event__text__wrap">
   <p><%= @show['Description']%></p>
</div>
<h3><%= @show['RunningTime'] %></h3>
<h3><%= @show['TagLine'] %></h3>



<button type="button" class="btn btn-outline-success my-2 my-sm-0"><%= link_to "Book Tickets", {controller: :performances, action: :date, :data => @show['EventId']} %></button>